/* A CSS-t készítette: Sebestyén Bálint és Szmoleniczki Ákos */

/* Variables + Main stuff */

:root{
    --main-text-color: #EEEEEE;
    --main-bg-color: #222831;
    --secondary-bg-color: #2D4059;
    --main-accent-color: #ff7c4cc5;
    --dark-accent-color: #ab4e18;
    --credit-color: rgba(255, 255, 255, 0.25);
    --highlight-color: rgba(255, 255, 255, 0.1);
}

body{
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    font-family: 'Ubuntu Mono', 'Consolas';
}

a{
    color: var(--main-accent-color);
}

h2{
    background: var(--highlight-color);
    padding: 3px;
}

/* Containers */

div.container{
    background-color: var(--secondary-bg-color);
    text-align: justify;
    padding: 16px 32px;
    border-radius: 2px;
    max-width: auto;
}

div.accent{
    background-color: var(--main-accent-color);
    border-radius: 2px;
}

/* Navigation Bar */

div.navigation{
    background-color: var(--secondary-bg-color);
    overflow: hidden;
    border-radius: 2px;
    margin-bottom: 10px;
    position: sticky;
    top: 0px;
}

div.navigation a{
    color: var(--main-text-color);   
    text-decoration: none; 
    text-align: center;
    padding: 10px 10px;
    float: left;
    transition: 0.5s;
    font-size: 120%;
    font-variant: small-caps;
    font-weight: bold;
}

div.navigation a:hover{
    background-color: var(--main-accent-color);
}

div.navigation a:active{
    background-color: var(--dark-accent-color);
}

div.navigation a.selected{
    background-color: var(--main-accent-color);
}

div.navigation a.selected:active{
    background-color: var(--dark-accent-color);
}

/* Other */

img.main-icon{
    max-width: 32px;
    max-height: 32px;
    display: block;
    float: right;
    margin-top: 5px;
    margin-right: 10px;
}

p.credit{
    font-size: 75%;
    font-style: italic;
    float: right;
    color: var(--credit-color)
}

a.credit{
    color: var(--main-accent-color);
}