<!DOCTYPE html>
<html lang="hu">
<head>
    <link rel="stylesheet" href="../css/main.css" type="text/css">
    <link rel="icon" href="media/linux.png">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DUMMY</title>
</head>
<body>
    <div class="navigation">
        <a href="./">Főoldal</a>
        <a href="./pages/linux_history.html">Linux történelem</a>
        <a href="./pages/linux_fajlrendszer.html">Linux fájlrenszer</a>
        <a href="./pages/valtas_linuxra.html">Váltás Linuxra</a>
        <a href="./pages/jatekok_linuxon.html">Játékok Linuxon</a>
        <img src="../media/linux.png" alt="linux logo" class="main-icon">
    </div>
</body>
</html>